@inject ITransportCompanyService transporterService
@inject IRecipientCompanyService recipientService
@inject ISupplierCompanyService supplierService
@model DetailOfferViewModel

@if (Model.TransporterDetail.TransporterId != null)
{
    <h4 class="text-primary">Accepted transport by: </h4>
    <h6>-Transport Company :<b>@Model.TransporterDetail.TransporterName/@Model.TransporterDetail.TransporterCountry</b></h6>
    <h6>-Pnone Number :<b>@Model.TransporterDetail.TransporterPhoneNumber</b></h6>
    <h5 class="text-center">Truck</h5>
    if (Model.TransporterDetail.TrailerUrl != null)
    {
        <img class="card-img-top" src="@Model.TransporterDetail.TruckUrl" alt="Truck Image">
    }
    <h6>-Make: <b>@Model.TransporterDetail.TruckMake</b></h6>
    <h6>-Model: <b>@Model.TransporterDetail.TruckModel</b></h6>
    <h6>-Registration Number: <b>@Model.TransporterDetail.TruckRegistration</b></h6>

    <h5 class="text-center">Trailer</h5>
    if (Model.TransporterDetail.TrailerUrl != null)
    {
        <img class="card-img-top" src="@Model.TransporterDetail.TrailerUrl" alt="Truck Image">
    }
    <h6>-Make: <b>@Model.TransporterDetail.TrailerMake</b></h6>
    <h6>-Registration Number: <b>@Model.TransporterDetail.TrailerRegistration</b></h6>

}
else if (Model.TransporterDetail.TransporterId == null && await transporterService.DoesTransporterExistsAsync(User.Id()))
{
    <h4 class="text-center">
        <span class="text-danger text-center">No transport company yet</span>
    </h4>
    <br />
    <br />
    <br />
    <a asp-area="" asp-action="AddTransporter" asp-controller="Offer"
       asp-route-isTemperatureRequired="@Model.OfferViewModel.IsTemperatureControlNeeded"
       asp-route-offerId="@Model.OfferViewModel.Id" class="btn btn-primary">Add Transport Company</a>
}
else if ((Model.TransporterDetail.TransporterId == null && await recipientService.DoesRecipientExists(User.Id())) || await supplierService.DoesSupplierExists(User.Id()))
{
    <h4 class="text-center">
        <span class="text-danger text-center">No transport company yet</span>
    </h4>
    <br />
    <br />
    <br />
    <a asp-area=""  asp-action="AddTransporter" asp-controller="Offer" class="btn btn-primary disabled">Add Transport Company</a>
}
else
{
    <h4 class="text-center">
        <span class="text-danger text-center">No transport company yet</span>
    </h4>
    <br />
    <br />
    <br />
    <a asp-area="" asp-action="Information" asp-controller="Home" class="btn btn-primary">Add Transport Company</a>
}