@inject IRecipientCompanyService recipientService
@inject ITransportCompanyService transporterService
@inject ISupplierCompanyService supplierService
@model DetailOfferViewModel

@if (Model.RecipientDetail.RecipientId != null)
{
    <h4 class="text-primary">Тhe goods are accepted by: </h4>
    <h6>-Recipient Company :<b>@Model.RecipientDetail.RecipientName/@Model.RecipientDetail.RecipientCountry</b></h6>
    <h6>-Pnone Number :<b>@Model.RecipientDetail.RecipientPhoneNumber</b></h6>
    <h6>-Country of Destination of goods :<b>@Model.RecipientDetail.CountryOfDestination</b></h6>
    <h6>-Address of Destination of goods :<b>@Model.RecipientDetail.AddressOfDestination</b></h6>
    
}
else if (Model.RecipientDetail.RecipientId == null && await recipientService.DoesRecipientExists(User.Id()))
{
    <h4 class="text-center">
        <span class="text-danger text-center">No recipient company yet</span>
    </h4>
    <br/>
    <br/>
    <br/>
    <a asp-action="AddRecipient" asp-controller="Offer" asp-route-offerId="@Model.OfferViewModel.Id" class="btn btn-primary">Add Recipient Company </a>
}
else if ((Model.RecipientDetail.RecipientId == null && await transporterService.DoesTransporterExistsAsync(User.Id())) || await supplierService.DoesSupplierExists(User.Id()))
{
    <h4 class="text-center">
        <span class="text-danger text-center">No recipient company yet</span>
    </h4>
    <br />
    <br />
    <br />
    <a asp-action="AddTransporter" asp-controller="Offer" class="btn btn-primary disabled">Add Recipient Company</a>
}
else
{
    <h4 class="text-center">
        <span class="text-danger text-center">No recipient company yet</span>
    </h4>
    <br />
    <br />
    <br />
    <a asp-action="Information" asp-controller="Home" class="btn btn-primary">Add Recipient Company</a>
}