<img class="card-img-top" src="@Model.OfferViewModel.ProductImageURL" alt="Product Image">
<h4 class=" text-center">@Model.OfferViewModel.ProductName</h4>
<h6>-From Country: <b>@Model.OfferViewModel.LoadingCountry</b></h6>
<h6>-With Address: <b>@Model.OfferViewModel.LoadingAddress</b></h6>
<h6>-Price: <b>@String.Format("{0:f2}", Model.OfferViewModel.ProductPrice) EUR</b> </h6>
<h6>
    @if (Model.ProductDescription != null)
    {
        <b>-@Model.ProductDescription</b>
    }
</h6>
<h6>(for @Model.OfferViewModel.ActionType)</h6>
<h6>
    @if (Model.OfferViewModel.ActionDescription != null)
    {
        <b>-@Model.OfferViewModel.ActionDescription</b>
    }
</h6>
<h6>-Transport: <b>@(Model.OfferViewModel.IsTemperatureControlNeeded ? "Temperature control is required" : "No temperature control required")</b></h6>

<h6>-Published by: <b>@Model.OfferViewModel.CreatorName</b></h6>
<h6>-With phone number: <b>@Model.OfferViewModel.CreatorPhoneNumber</b></h6>
<h6>-Published on: <b>@Model.OfferViewModel.PublicationDay</b></h6>