@model OfferTranspoerterViewModel

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ProductImageURL" alt="Product Image">
        <div class="card-body text-center">
            <h4>@Model.ProductName</h4>
            <h6>From Country: <b>@Model.LoadingCountry</b></h6>
            <h6>With Address: <b>@Model.LoadingAddress</b></h6>
            <h6> Price: <b>@String.Format("{0:f2}", Model.ProductPrice) EUR</b> </h6>
            <h6>Transport: <b>@(Model.IsTemperatureControlNeeded ? "Temperature control is required" : "No temperature control required")</b></h6>
            <br />
            <a asp-area="" asp-controller="Offer" asp-action="Details" asp-route-id="@Model.Id" asp-route-searchingInfo="@Model.GetSearchingInfo()" class="btn btn-success">Details</a>
            
        </div>
    </div>
</div>